.home-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffba08;

  .about {
    background-color: #12130f;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    text-align: left;
    margin: 30px;
    height: 700px;
    display: flex;

    // display: grid;

    .text {
      color: #ffba08;
      position: relative;
      text-align: left;
      width: 400px;
      height: fit-content;
      top: 170px;
      // margin-right: 10px;

      h1 {
        font-size: 45px;
        position: absolute;
        &:nth-child(1) {
          color: transparent;
          -webkit-text-stroke: 2px #ffba08;
        }

        &:nth-child(2) {
          color: #ffba08;
          animation: animate 4s ease-in-out infinite;
        }
      }
      p {
        color: #5f758e;
        font-size: 20px;
        margin-top: 250px;
      }
    }
    // text animation
    @keyframes animate {
      0%,
      100% {
        clip-path: polygon(
          0% 95%,
          46% 50%,
          33% 60%,
          54% 70%,
          70% 71%,
          84% 89%,
          100% 92%,
          100% 100%,
          0% 100%
        );
      }

      50% {
        clip-path: polygon(
          0% 60%,
          15% 65%,
          34% 76%,
          51% 72%,
          67% 60%,
          84% 55%,
          100% 66%,
          100% 100%,
          0% 100%
        );
      }
    }
    // --------------

    image {
      height: 500px;
      width: 500px;
    }
    .ProfilePicture {
      background-color: red;
      width: 500px;
      height: 600px;
      float: right;
      position: relative;
      margin-left: 150px;
      margin-top: 50px;
    }
  }

  .projects {
    background-color: #12130f;
    padding: 20px;
    border-radius: 8px;
    color: #ffba08;
    text-align: center;
    // width: 95%;
    margin: 30px;

    h1 {
      // margin: 250px;
      font-family: Arial;
      font-size: 100px;
      line-height: 1;
      font-weight: 700;
      margin: 30px 0px;
      position: relative;

      &::before {
        content: attr(data-text);
        position: absolute;
        display: inline-block;
        overflow: hidden;
        height: 50%;
        background-color: #12130f;
        transform: translate(-2%, -2%);
        z-index: 1;
        animation: projects 2s linear alternate infinite;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: #12130f;
        display: inline-block;
        height: 50%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
    @keyframes projects {
      0% {
        transform: translate(0, 0);
      }

      30% {
        transform: translate(0, 0);
      }

      60% {
        transform: translate(-2%, -2%);
      }

      100% {
        transform: translate(-2%, -2%);
      }
    }
    .skill-list {
      text-align: left;
      p {
        margin: 50px 60px;
        color: #86a8cf;
        font-size: 25px;
      }
    }
    h2 {
      font-size: 75px;
      margin: 20px;
    }
    .Tools {
      // display: ;
      // position: relative;
      display: flex;
      // text-align: center;
      justify-content: center;
      .tool {
        height: 150px;
        width: 150px;
        font-size: 30px;
        margin: 15px;
        background-color: #86a8cf;
      }
    }
  }
}

.contact {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;

  p {
    margin: 5px 0;
  }
}
